@use '../../styles/breakpoint.scss';
@use '../../styles/colors.scss';

$menu-desktop-width: 260px;

#hamburger-menu {
  #hamburger {
    --bar-height: 2px;
    --bar-width-start: 80%;
    --bar-width-end: 100%;
    --transition-duration: 0.2s;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    margin: 6px 10px;

    @media (min-width: breakpoint.$desktop) {
      display: none;
    }

    &::before {
      content: ' ';
      display: inline-block;
      position: absolute;
      background: colors.$burger-menu-line;
      height: var(--bar-height);
      width: var(--bar-width-start);
      top: calc(25% - var(--bar-height)/2);
      left: calc((100% - var(--bar-width-start))/2);
      transition: var(--transition-duration) ease all;

      .dark & {
        background: colors.$burger-menu-line-dark;
      }
    }

    &::after {
      content: ' ';
      display: inline-block;
      position: absolute;
      background: colors.$burger-menu-line;
      height: var(--bar-height);
      width: var(--bar-width-start);
      top: calc(75% - var(--bar-height)/2);
      left: calc((100% - var(--bar-width-start))/2);
      transition: var(--transition-duration) ease all;

      .dark & {
        background: colors.$burger-menu-line-dark;
      }
    }

    #hamburger-middle-line {
      content: ' ';
      display: inline-block;
      position: absolute;
      background: colors.$burger-menu-line;
      height: var(--bar-height);
      width: var(--bar-width-start);
      top: calc(50% - var(--bar-height)/2);
      left: calc((100% - var(--bar-width-start))/2);
      transition: var(--transition-duration) ease all;

      .dark & {
        background: colors.$burger-menu-line-dark;
      }
    }

    &.active {
      &::before {
        top: calc(50% - var(--bar-height)/2);
        width: var(--bar-width-end);
        left: calc((100% - var(--bar-width-end))/2);
        transform: rotate(45deg);
      }

      &::after {
        top: calc(50% - var(--bar-height)/2);
        width: var(--bar-width-end);
        left: calc((100% - var(--bar-width-end))/2);
        transform: rotate(-45deg);
      }

      #hamburger-middle-line {
        width: 0;
      }
    }
  }

  #menu {
    background-color: colors.$menu-background-popup;
    display: none;
    position: fixed;
    width: 100%;
    font-size: 16px;
    z-index: 3;

    .dark & {
      background: colors.$menu-background-popup-dark;

      @media (min-width: breakpoint.$desktop) {
        background: colors.$menu-background-dark;
      }
    }

    @media (min-width: breakpoint.$desktop) {
      display: flex;
      flex-direction: column;
      width: $menu-desktop-width;
      height: 100vh;
      background-color: colors.$menu-background;
    }
    
    &.open {
      display: block;

      @media (min-width: breakpoint.$desktop) {
        display: flex;
      }
    }

    #menu-title {
      padding: 25px 10px;
      font-weight: bold;
      display: none;

      @media (min-width: breakpoint.$desktop) {
        display: block;
      }
    }

    .menu-item {
      padding: 8px 10px;
      display: block;

      &:hover {
        background-color: colors.$menu-item-hover;

        .dark & {
          background-color: colors.$menu-item-hover-dark;
        }
      }

      &.active {
        font-weight: bold;
        background-color: colors.$menu-item-active-background;
        color: colors.$menu-item-active-text;

        .dark & {
          background-color: colors.$menu-item-active-background-dark;
          color: colors.$menu-item-active-text-dark;
        }
      }
    }

    #menu-footer {
      margin-top: 20px;

      @media (min-width: breakpoint.$desktop) {
        margin-top: auto;
      }

      .menu-footer-item {
        padding: 12px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &:hover {
          background-color: colors.$menu-item-hover;
  
          .dark & {
            background-color: colors.$menu-item-hover-dark;
          }
        }

        #github-icon {
          height: 25px;

          .dark & {
            filter: invert(1);
          }
        }
      }
    }
  }

  #menu-backdrop {
    position: fixed;
    background-color: colors.$menu-backdrop;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: none;
    backdrop-filter: blur(5px);

    &.open {
      display: block;

      @media (min-width: breakpoint.$desktop) {
        display: none;
      }
    }
  }
}