@use '../../styles/breakpoint.scss';
@use '../../styles/boxSize.scss';
@use '../../styles/colors.scss';

$row-group-width: 350px;
$input-gap: 10px;
$non-chart-height: 500px;
$non-chart-height-tablet: 350px;
$non-chart-height-desktop: 300px;
$non-chart-height-desktop-wide: 230px;

.compound-interest-container {
  padding: 0 10px;
  margin: 0 auto;

  @media (min-width: breakpoint.$desktop) {
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 18px;
  }

  .row-group-container {
    @media (min-width: breakpoint.$tablet) {
      display: flex;
      justify-content: space-between;

      .row-group {
        width: $row-group-width;
      }
    }

    @media (min-width: breakpoint.$desktop-wide) {
      justify-content: inherit;
      gap: 50px;
    }
  }

  .line-chart-container {
    height: calc(100vh - $non-chart-height);

    @media (min-width: breakpoint.$tablet) {
      height: calc(100vh - $non-chart-height-tablet);
    }

    @media (min-width: breakpoint.$desktop) {
      height: calc(100vh - $non-chart-height-desktop);
    }

    @media (min-width: breakpoint.$desktop-wide) {
      height: calc(100vh - $non-chart-height-desktop-wide);
    }
  }
}

.input-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: $input-gap;

  .input-number {
    margin-left: auto;
  }
}

.total-flex-container {
  @media (min-width: breakpoint.$tablet) {
    display: flex;
  }

  .total-container {
    margin-top: 40px;
    margin-bottom: 10px;
  
    @media (min-width: breakpoint.$tablet) {
      margin-left: auto;
    }

    @media (min-width: breakpoint.$desktop-wide) {
      margin-top: 25px;
    }
  }
}

.total-row {
  display: flex;
  font-size: 16px;
  margin-bottom: 5px;

  @media (min-width: breakpoint.$tablet) {
    gap: 40px;
  }

  .currency {
    margin-left: auto;
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    transform: translateY(2px);

    @media (min-width: breakpoint.$tablet) {
      margin-right: 8px;
    }
  }

  &.total-compound {
    color: colors.$chart-primary-color;

    .currency {
      font-weight: bold;
    }

    .dark & {
      color: colors.$chart-primary-color-dark;
    }
  }

  &.total-contribution {
    color: colors.$chart-secondary-color;

    .dark & {
      color: colors.$chart-secondary-color-dark;
    }
  }
}
