@use '../../styles/breakpoint.scss';
@use '../../styles/boxSize.scss';

$row-group-width: 350px;
$input-gap: 10px;

.compound-interest-container {
  margin: 30px auto;
  padding: 0 10px;

  .row-group-container {
    @media (min-width: breakpoint.$desktop) {
      display: flex;
      justify-content: space-between;

      .row-group {
        width: $row-group-width;
      }
    }
  }
}

.input-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: $input-gap;

  .input-number {
    margin-left: auto;
  }
}

.total-container {
  margin-top: 40px;
  margin-bottom: 10px;

  @media (min-width: breakpoint.$desktop) {
    float: right;
  }
}

.total-row {
  display: flex;
  font-size: 16px;
  margin-bottom: 5px;

  @media (min-width: breakpoint.$desktop) {
    gap: 40px;
  }

  .currency {
    margin-left: auto;
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    transform: translateY(2px);

    @media (min-width: breakpoint.$desktop) {
      margin-right: 8px;
    }
  }

  &.total-compound {
    color: #FF9130;

    .currency {
      font-weight: bold;
    }
  }

  &.total-contribution {
    color: #1D70B8;
  }
}
